<div class="center hero-unit">
  <h3>The Open Food Web Trading Platform</h3>
  <p></p>
  <%= link_to "I'm Ready to Shop - Find Me a Local Distributor!", 'http://buyfood.herokuapp.com', class: "btn btn-large btn-success" %><br><br>
  <%= link_to image_tag("OFW Platform pic.png", alt:"OFW Platform"), 'http://www.openfoodweb.org' %><br>
  <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
  <%= link_to "Tell Me More", '#', class: "btn btn-primary" %>
  <%= link_to "Browse - What's Available Now?", 'http://buyfood.herokuapp.com', class: "btn btn-primary" %>
  </div>