<div class="center hero-unit">
  <h1>Ripe</h1>
  <h3>The Open Food Web Trading Platform</h3>
  <p></p>
  <%= link_to image_tag("OFW Platform pic.png", alt:"OFW Platform"), 'http://www.openfoodweb.org' %><br>
  <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Please Explain", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Let me see what you have", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Buy Food!", '#', class: "btn btn-large btn-red" %>
</div>